body {
  background-color: black;
  margin: 0;
  padding: 0;
}

#gameArea {
  width: 750px;
  height: 350px;
  margin: 20px auto;
  border: 5px solid black;
  background-color: white;
}

#message{
  color: white;
  font-size: 24px;
  text-align: center;
}

#text{
  color: white;
  font-size: 18px;
  text-align: center;
}

footer {
  background: gray;
  bottom: 0;
  width: 100%;
  color: red;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
  font-size: 24px;
  font-family: Cambria;
}

.icons {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

.icons i#HTML img {
  width: 75px;
  height: 100px;
}

.icons i#CSS img {
  width: 100px;
  height: 100px;
}

.icons img{
  width: 75px;
  height: 75px;
  margin: 0;
  padding: 0;
}
.icons p {
  font-size: 36px;
  font-family: Verdana;
  color: white;
}