body {
  background-color: black;
  margin: 0;
  padding: 0;
}

#gameArea {
  width: 480px;
  height: 270px;
  margin: 20px auto;
  border: 5px solid black;
  background-color: white;
}

#message{
  color: white;
  font-size: 24px;
  text-align: center;
}

#text{
  color: white;
  font-size: 18px;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: red;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
  font-size: 24px;
  font-family: Cambria;
}